footer{
    border-top: 1.5px @secondaryColor;
    background-color: black;
    width: 100%;
}
.footerContainer{
    .centering;
    .hov;
    img{
        max-height: 50px;
        padding: 3%;
}
    @media @tablet{
        flex-direction: column;
    }
}
.rightsReserved{
    font-size: 0.7em;
    text-align: center;
    color: grey;
    padding: 1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}