// Main Less File

body {

  a {
    color: @second-color;
  }

  .my-hover()

}

article {
  background: black;
  //  background: linear-gradient(45deg, rgba(1, 114, 44, 0.959)),;    
   text-align: center;
   font-weight: bold;
   font-size: x-large;
   padding-bottom: 3%;


   h2 {
     margin: 0% 0%;
     color: @main-color;
     text-shadow: 3px 3px 6px black;
     font-size: 300%;
   }

   p {
     color: @second-color
}

}

.container {
  padding: 5% 5% 5% 5%;
  margin: 0% 0%;
  background: black;
  // background: linear-gradient(217deg, rgba(0, 0, 0, 0), rgb(180, 179, 179) 70.71%),
  // linear-gradient(127deg, rgb(104, 62, 62), rgba(19, 7, 7, 0) 70.71%),
  // linear-gradient(336deg, rgba(5, 5, 32, 0.8), rgba(0, 0, 0, 0) 70.71%);

  a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: @second-color;

    .my-hover()

  }

  section {

  display: flex;

  }

  .creator-pic {
    border: 1px solid @main-color;
    border-radius: 15%;
    width: 200px;
    height: 250px;
  }

section img {
  border: 1px solid @main-color;
  border-radius: 50%;
  width: 60px;
  height: 80px;

}

section h2 {
  color: @main-color;
  text-shadow: 3px 3px 6px black;
  font-size: 290%;
  margin: 2% 0%;
  text-align: center;

  @media @mobile {
    color: @second-color;
  }
}

p {
  font-size: 20px;
  color: @second-color;
  margin: 0% 30%;
}

h1 {
  color: @main-color;
  text-shadow: 3px 3px 6px black;
  font-size: 500%;
  text-align: center;
}

h3 {
  color: @main-color;
  text-shadow: 3px 3px 6px black;
  font-size: 100%;
}

li {
  text-align: center;
}

.Social-Media {
float: right;

a {
  font-size: x-large;

  i {
    color: red;
  }

}

} 

form label {
  color: @main-color;
}

}

