
nav {
    max-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border-bottom: 2px solid;
    // border-bottom-color: @mainColor;
}
nav img{
    max-height: 50px;
}
nav a{
    padding: 2em;
    text-decoration: none;
    color: @mainColor;
}